.settings/
.project
docs/apidocs
logs
rest-client/.settings
rest-client/logs
rest-client/target
rest-client/.classpath
rest-client/.project
rest-common/.settings
rest-common/target
rest-common/.classpath
rest-common/.project
rest-server/.settings
rest-server/logs
rest-server/target
rest-server/.classpath
rest-server/.project
target